.single-chosen
  width 180px
.multiple-chosen
  width 300px
.chosen-container,
a.chosen-single
  height 34px !important
.chosen-container>a>div>b
  background-position 0px 7px !important
.chosen-choices li.search-field input[type="text"]
  height auto !important
a.chosen-single>span
  height 34px !important
  padding-top 5px
.chosen-container-active.chosen-with-drop .chosen-single div b
  background-position -18px 7px  !important
.chosen-container-single .chosen-single abbr
  top: 11px  !important

.activeInstitute
  height:55px
  width:auto
  cursor: pointer
.inforow
  margin-bottom 10px
.left
  float: left
.right
  float: right
#semesterbutton,
#loginbutton
  height: 55px
  width 180px
#semesterbutton
  margin-left 10px
.ng-dirty
  border-width 2px !important