doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]>
html.no-js 
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="fragment",content="!")
    title Vinston
    meta(name="description",content="")
    meta(name="viewport",content="width=device-width")
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../vendor/AngularJS-Toaster/toaster.css')
    // endbower
    link(rel='stylesheet', href='vendor/chosen/chosen.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.css')
    // endbuild 
    // build:css({.tmp,app}) styles/main.css 
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="main.css")
    // endbuild 
  body.container(ng-app="vinstonApp",ng-controller="appCtrl")
    // [if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      ![endif]
    #startup.well(ng-hide="finished")
      i.fa.fa-spinner.fa-spin.fa-2x
      span(ng-cloak,ng-show="loaded") Versuche einzuloggen... 
    #inforow.row.inforow(ng-cloak,ng-show="finished")
      ul.nav.nav-pills(role="navigation")
        img.activeInstitute.left.img-rounded(ng-click="institute.showModal()"
            ng-src="{{session.getActiveInstitute().image}}",alt="{{session.getActiveInstitute().name}}")
        button#semesterbutton.left.btn.btn-default {{semesterName}}
          p {{dauer}}
        button#loginbutton.btn.btn-default.right(ng-if="!session.getUser()",ng-click="auth.showLoginModal()") Login
        button#userbutton.btn.btn-default.right(ng-if="session.getUser()")
          span Hi, {{session.getUser().name}}

        li.dropdown
          a.dropdown-toggle(href) Student
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#/student/main") Mein Stundenplan
            li
              a(href="#/student/bookRoom") Raum buchen
            li
              a(href="#/all/freeRoom") Freien Raum finden
            li
              a(href="#/all/vlvz") Vorlesungsverzeichnis
        li.dropdown(ng-if="auth.inGroup('docent')")
          a.dropdown-toggle(href) Dozent
            b.caret
          ul.dropdown-menu
            li
              a(href="#/docent/main") Mein Stundenplan
            li
              a(href="#/student/bookRoom") Raum buchen
            li
              a(href="#/docent/registration") Zumeldung
        li.dropdown(ng-if="auth.inGroup('admin')")
          a.dropdown-toggle(href="#") Administrator
            b.caret
          ul.dropdown-menu(role="menu")
            li 
              a(href="#/admin/rooms") Räume
            li 
              a(href="#/admin/docents") Dozenten
            li 
              a(href="#/admin/structure") Struktur
            li
              a(href="#/admin/roomBookings") Raumbuchungen
        li.dropdown(ng-if="auth.inGroup('root')")
          a.dropdown-toggle(href="#") Root
            b.caret
          ul.dropdown-menu(role="menu")
            li 
              a(href="#/root/helpUser") Benutzer helfen
            li 
              a(href="#/root/planning") Planung
            li 
              a(href="#/root/his") HIS export
            li 
              a(href="#/root/import") Datenbank import
            li 
              a(href="#/root/users") Benutzer verwalten
            li 
              a(href="#/root/appConfig") App konfiguration
            li 
              a(href="#/root/serverConfig") Server konfiguration
    .row(ng-cloak,ng-show="finished")
      ul.breadcrumb
        li
          a(href="#") Home
        li.active(ng-if="params && params.function") {{params.function}}
    .row(ng-view,ng-cloak,ng-show="finished")
    toaster-container(toaster-options="{'time-out': 3000,'position-class':'toast-bottom-right'}")
    // build:js vendor/vendor.js
    // bower:js
    script(src='../vendor/jquery/dist/jquery.js')
    script(src='../vendor/es5-shim/es5-shim.js')
    script(src='../vendor/angular/angular.js')
    script(src='../vendor/json3/lib/json3.min.js')
    script(src='../vendor/bootstrap/dist/js/bootstrap.js')
    script(src='../vendor/angular-resource/angular-resource.js')
    script(src='../vendor/angular-cookies/angular-cookies.js')
    script(src='../vendor/angular-sanitize/angular-sanitize.js')
    script(src='../vendor/angular-route/angular-route.js')
    script(src='../vendor/angular-animate/angular-animate.js')
    script(src='../vendor/ocLazyLoad/ocLazyLoad.min.js')
    script(src='../vendor/angular-ui-utils/ui-utils.js')
    script(src='../vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='../vendor/ngInfiniteScroll/ng-infinite-scroll.js')
    script(src='../vendor/angular-chosen-localytics/chosen.js')
    script(src='../vendor/angular-md5/angular-md5.js')
    script(src='../vendor/AngularJS-Toaster/toaster.js')
    script(src='../vendor/deep-diff/index.js')
    script(src='../vendor/lodash/dist/lodash.compat.js')
    // endbower
    script(src='vendor/chosen/chosen.jquery.js')
    script(src='vendor/script.js/dist/script.js')
    script(src='vendor/socket.io-client/dist/socket.io.js')
    script(src='vendor/deep-diff/index.js')
    // endbuild
        
    // build:js({.tmp,app}) scripts/scripts.js 
    script(src="components/socketData/socketData.js")
    script(src="components/globals/globals.js")
    script(src="components/configData/configData.js")
    script(src="app.js")
    script(src="index.js")
    script(src="indexInstitutes.js")
    script(src="indexLogin.js")
    // endbuild 