[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.single-chosen
  width 180px
.multiple-chosen
  width 300px
.chosen-container,
a.chosen-single
  height 34px !important
.chosen-container>a>div>b
  background-position 0px 7px !important
.chosen-choices li.search-field input[type="text"]
  height auto !important
a.chosen-single>span
  height 34px !important
  padding-top 5px
.chosen-container-active.chosen-with-drop .chosen-single div b
  background-position -18px 7px  !important
.chosen-container-single .chosen-single abbr
  top: 11px  !important

.activeInstitute
  height:55px
  width:auto
  cursor: pointer
#inforow
  margin-bottom 10px
.left
  float: left
.right
  float: right
#inforow button
  height: 55px
  width 180px
#inforow > nav > img + button,
#inforow > nav > button + button
  margin-left 2px
.ng-dirty
  border-width 3px !important
#inforow .nav-pills > li
  float: right
#inforow .nav-pills > li > a  
  padding: 18px 15px 17px 15px
.input-addon {
  position: relative;
}
.input-addon input {
    padding-right: 30px;    
}
.input-addon i {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 25px;
    pointer-events: none;
}
td.input-addon i {
    padding: 17px;
}
td.success
  background-color: #dff0d8 !important
#startup
  position: fixed
  top 33%
  left 50%
  margin-top -13px
  margin-left -110px
  width: 220px
#startup span
  position: relative;
  left: 12px;
  top: -4px;
th
  vertical-align: top !important
.placeholder
  background-color: #d9edf7;
  opacity 0.5
  border 3px dashed #d9edf7
.ui-sortable > *
  cursor: move;
div.chosen-container-multi
  display: block
div.chosen-container-multi>ul
  padding: 2px 12px !important
  border: 1px solid #ccc !important
  border-radius: 4px