.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  width: 650px
  cursor: default
}
.angular-ui-tree-handle span.name {
  margin-left:8px
}