.input-addon input {
    padding-right: 30px;    
}
.input-addon i {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 25px;
    pointer-events: none;
}
.panel-body span.label
  margin-left: 15px