include /components/mixins/tdmixins.jade
include /components/mixins/buttons.jade
include /components/mixins/panel.jade
include /components/mixins/form.jade
link(rel='stylesheet', href='/root/appConfig/appConfig.css')
#config(ng-controller="appConfigCtrl" 
  ng-cloak
  )
  i.fa.fa-spinner.fa-spin.fa-2x(ng-hide="loaded")
  +panel("Institute einrichten","active == 'institutes'","active != 'institutes'")
    table.table.table-striped
      tr(ng-disabled="institutes.filter.busy")
        td
          +input("institutes.filter."+institutes[0].name,institutes[0].pretty)
          +inputCheckbox("institutes.filter."+institutes[1].name,institutes[1].pretty)
        td
          +input("institutes.filter."+institutes[2].name,institutes[2].pretty)
          +input("institutes.filter."+institutes[3].name,institutes[3].pretty)
        +tdInputImg("institutes.filter."+institutes[4].name,
          institutes[4].pretty,
          "institutes.filter.status",
          "testImg(institutes.filter)")
        td
          +button("institutes.insert()","import","institutes.filter."+institutes[0].name,undefined,"Hinzufügen")     
      tr(ng-repeat="inst in institutes.data | filter:institutes.filter:strict"
        ng-class="{'warning': inst.changed}")
        td
          +input("inst."+institutes[0].name,institutes[0].pretty,"institutes.setChanged(inst)")
          +inputCheckbox("inst."+institutes[1].name,institutes[1].pretty,"institutes.setChanged(inst)")
        td
          +input("inst."+institutes[2].name,institutes[2].pretty,"institutes.setChanged(inst)")
          +input("inst."+institutes[3].name,institutes[3].pretty,"institutes.setChanged(inst)")
        +tdInputImg("inst."+institutes[4].name,
          institutes[4].pretty,
          "inst.status",
          "testImg(inst)")        
        td(ng-disabled="inst.busy")
          +button("institutes.save(inst)","save","inst.changed",undefined,"Speichern") 
          +button("institutes.unchange(inst)","refresh","inst.changed",undefined,"Rückgängig")
          +button("institutes.delete(inst)","remove","!inst.changed",undefined,"Löschen") 
  +panel("Semester einrichten","active == 'semesters'","active != 'semesters'")
    table.table.table-striped
      tr(ng-disabled="semester.disabled")
        td
          +input("semester.filter."+semesters[0].name,semesters[0].pretty)
          +inputCheckbox("semester.filter."+semesters[6].name,semesters[6].pretty)
        td
          +inputDate(
            "semester.filter."+semesters[1].name,
            semesters[1].pretty,undefined,undefined,"false")
          +inputDate(
            "semester.filter."+semesters[2].name,
            semesters[2].pretty,undefined,undefined,"false")
        td
          +inputDate(
            "semester.filter."+semesters[3].name,
            semesters[3].pretty,undefined,undefined,"false")
          +inputDate(
            "semester.filter."+semesters[4].name,
            semesters[4].pretty,undefined,undefined,"false")
        td
          +inputDate(
            "semester.filter."+semesters[5].name,
            semesters[5].pretty,undefined,undefined,"false")
        td
          +button("semester.insert()","import","semester.filter."+semesters[0].name)  
      tr(ng-repeat="sem in semesters | filter:semester.filter:strict"
        ng-class="{'warning': sem.changed}"
        ng-disabled="sem.disabled"
        )
        td
          +input("sem."+semesters[0].name,semesters[0].pretty)
          +inputCheckbox("sem."+semesters[6].name,semesters[6].pretty)
        td
          +inputDate(
            "sem."+semesters[1].name,
            semesters[1].pretty,undefined,"","false")
          +inputDate(
            "sem."+semesters[2].name,
            semesters[2].pretty,"","","false")
        td
          +inputDate(
            "sem."+semesters[3].name,
            semesters[3].pretty,"","","false")
          +inputDate(
            "sem."+semesters[4].name,
            semesters[4].pretty,"","","false")
        td
          +inputDate(
            "sem."+semesters[5].name,
            semesters[5].pretty,"","","false")
        td
          +button("update(sem)","save","sem.changed") 
          +button("remove(sem)","remove")  
  +panel("Formular einrichten","active == 'form'","active != 'form'")
